body{
    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width:60%;

    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}

#abas {
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
    width:60%;
}

#pendentesLista {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width:60%;
}

#concluidasLista {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width:60%;
}

#minhasAbas {
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    width:40%;
}